body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
}

.main-container {
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    margin: 0;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}


.player-board, .opp-board {
    border: 1px solid blue;
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
  }

  .cell {
    border: 1px solid black;
  }
  
