@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: grid;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  /* word-spacing: 10px; */
}

.main-container {
  display: grid;
  place-content: center;
}


.game-container {
  border: 1px solid red;
  display: grid;
  margin: 0;
  width: 100%;
  grid-template: 1fr 2fr / 1fr 1fr;
  justify-items: center;
}

.message-display {
  grid-column: 1 / span 2;
  display: flex;
  align-items: center;
  font-size: 40px;
}

.outcome {
  margin-left: 10px;
}


.player-board,
.opp-board {
  border: 1px solid blue;
  height: 500px;
  width: 500px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.cell {
  border: 1px solid black;
  text-align: center;
  align-content: center;
}

.opp-board>.cell:hover {
  filter: brightness(180%);
}

.opp-board>.cell:active {
  filter: opacity(80%);
}

.start-container {
  display: grid;
  justify-items: center;
  gap: 5vh;
}

.start-container label * {
  font-size: 28px;
}

.start {
  font-size: 28px;
  padding: 8px 24px;
  border-radius: 16px;
}


.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(30px);
}

/* Modal content */
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  text-align: center;
}

.cell[outcome='miss'] {
  background-color: rgb(56, 95, 203);
}

.cell[outcome='hit'] {
  background-color: rgb(214, 46, 46);
}

span[outcome='miss'] {
  color: rgb(56, 95, 203);
}

span[outcome='hit'] {
  color: rgb(214, 46, 46);
}